/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.5_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/.pnpm/next@14.2.5_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@layer reset, base, tokens, recipes, utilities;

@layer reset {

  html,
  :host {
    --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-tab-size: 4;
    tab-size: 4;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    font-family: var(--global-font-body, var(--font-fallback));
  }

  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border-width: 0px;
    border-style: solid;
    border-color: var(--global-color-border, currentColor);
  }

  hr {
    height: 0px;
    color: inherit;
    border-top-width: 1px;
  }

  body {
    height: 100%;
    line-height: inherit;
  }

  img {
    border-style: none;
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-wrap: balance;
    font-size: inherit;
    font-weight: inherit;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  ol,
  ul,
  menu {
    list-style: none;
  }

  button,
  input:where([type="button"], [type="reset"], [type="submit"]),
  ::file-selector-button {
    appearance: button;
    -webkit-appearance: button;
  }

  button,
  input,
  optgroup,
  select,
  textarea,
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    background: transparent;
  }

  ::placeholder {
    opacity: 1;
    --placeholder-fallback: color-mix(in srgb, currentColor 50%, transparent);
    color: var(--global-color-placeholder, var(--placeholder-fallback));
  }

  textarea {
    resize: vertical;
  }

  table {
    text-indent: 0px;
    border-collapse: collapse;
    border-color: inherit;
  }

  summary {
    display: list-item;
  }

  small {
    font-size: 80%;
  }

  sub,
  sup {
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
  }

  sub {
    bottom: -0.25em;
  }

  sup {
    top: -0.5em;
  }

  dialog {
    padding: 0px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  b,
  strong {
    font-weight: bolder;
  }

  code,
  kbd,
  samp,
  pre {
    --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New";
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-family: var(--global-font-mono, var(--font-mono-fallback));
    font-size: 1em;
  }

  progress {
    vertical-align: baseline;
  }

  ::-webkit-search-decoration,
  ::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  :-moz-focusring {
    outline: auto;
  }

  [hidden] {
    display: none !important;
  }
}

@layer base {
  :root {
    --made-with-panda: "🐼";
  }

  html,
  body {
    font-variation-settings: slnt 0;
    font-optical-sizing: auto;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: normal;
    font-style: normal;
  }

  *,
  ::before,
  ::after,
  ::backdrop {
    --blur:
      /*-*/
      /*-*/
    ;
    --brightness:
      /*-*/
      /*-*/
    ;
    --contrast:
      /*-*/
      /*-*/
    ;
    --grayscale:
      /*-*/
      /*-*/
    ;
    --hue-rotate:
      /*-*/
      /*-*/
    ;
    --invert:
      /*-*/
      /*-*/
    ;
    --saturate:
      /*-*/
      /*-*/
    ;
    --sepia:
      /*-*/
      /*-*/
    ;
    --drop-shadow:
      /*-*/
      /*-*/
    ;
    --backdrop-blur:
      /*-*/
      /*-*/
    ;
    --backdrop-brightness:
      /*-*/
      /*-*/
    ;
    --backdrop-contrast:
      /*-*/
      /*-*/
    ;
    --backdrop-grayscale:
      /*-*/
      /*-*/
    ;
    --backdrop-hue-rotate:
      /*-*/
      /*-*/
    ;
    --backdrop-invert:
      /*-*/
      /*-*/
    ;
    --backdrop-opacity:
      /*-*/
      /*-*/
    ;
    --backdrop-saturate:
      /*-*/
      /*-*/
    ;
    --backdrop-sepia:
      /*-*/
      /*-*/
    ;
    --gradient-from-position:
      /*-*/
      /*-*/
    ;
    --gradient-to-position:
      /*-*/
      /*-*/
    ;
    --gradient-via-position:
      /*-*/
      /*-*/
    ;
    --scroll-snap-strictness: proximity;
    --border-spacing-x: 0;
    --border-spacing-y: 0;
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --rotate-x: 0;
    --rotate-y: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1;
    --scale-y: 1;
  }
}

@layer tokens {
  :where(:root, :host) {
    --colors-neutral-white: #ffffff;
    --colors-neutral-gray-lightest: #f3f3f3;
    --colors-neutral-gray-light: #9ea2a4;
    --colors-neutral-gray-dark: #303030;
    --colors-neutral-gray-darkest: #151515;
    --colors-neutral-black: #000000;
    --colors-neutral-transparent: rgb(0 0 0 / 0);
    --line-heights-default: 100%;
    --line-heights-xs: 115%;
    --line-heights-sm: 120%;
    --line-heights-md: 130%;
    --line-heights-lg: 150%;
    --line-heights-xl: 170%;
    --line-heights-xxl: 200%;
    --font-sizes-xxxs: 0.75rem;
    --font-sizes-xxs: 0.875rem;
    --font-sizes-xs: 1rem;
    --font-sizes-sm: 1.25rem;
    --font-sizes-md: 1.5rem;
    --font-sizes-lg: 2rem;
    --font-sizes-xl: 2.5rem;
    --font-sizes-xxl: 3rem;
    --font-sizes-xxxl: 4rem;
    --font-sizes-display: 5rem;
    --radii-none: 0rem;
    --radii-sm: 0.25rem;
    --radii-md: 0.5rem;
    --radii-lg: 1rem;
    --radii-pill: 1.875rem;
    --radii-circular: 100%;
    --border-widths-none: 0rem;
    --border-widths-hairline: 0.0625rem;
    --border-widths-thin: 0.125rem;
    --border-widths-thick: 0.25rem;
    --opacity-base: 0.75;
    --opacity-dark: 0.9;
    --shadows-default: 1 0 28 0 #000000 20%;
    --shadows-secondary: 0 1 16 0 #000000 25%;
    --spacing-quarck: 0.125rem;
    --spacing-nano: 0.25rem;
    --spacing-xxxs: 0.5rem;
    --spacing-xxs: 0.75rem;
    --spacing-xs: 1rem;
    --spacing-sm: 1.25rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 2.5rem;
    --spacing-xxl: 3rem;
    --spacing-xxxl: 3.5rem;
    --spacing-huge: 4rem;
    --spacing-giant: 4.5rem;
    --fonts-primary: var(--font-inter), sans-serif;
    --font-weights-regular: 400;
    --font-weights-medium: 500;
    --font-weights-bold: 700;
    --font-weights-black: 900;
    --sizes-quarck: 0.125rem;
    --sizes-xnano: 0.1875rem;
    --sizes-nano: 0.25rem;
    --sizes-xxxxs: 0.375rem;
    --sizes-xxxs: 0.5rem;
    --sizes-xxs: 0.75rem;
    --sizes-xs: 1rem;
    --sizes-sm: 1.25rem;
    --sizes-md: 1.5rem;
    --sizes-xmd: 1.625rem;
    --sizes-lg: 2rem;
    --sizes-xlg: 2.25rem;
    --sizes-xl: 2.5rem;
    --sizes-xxl: 3rem;
    --sizes-xxxl: 3.5rem;
    --sizes-huge: 4rem;
    --sizes-giant: 4.5rem;
    --sizes-breakpoint-sm: 640px;
    --sizes-breakpoint-md: 768px;
    --sizes-breakpoint-lg: 1024px;
    --sizes-breakpoint-xl: 1280px;
    --sizes-breakpoint-2xl: 1536px;
    --breakpoints-sm: 640px;
    --breakpoints-md: 768px;
    --breakpoints-lg: 1024px;
    --breakpoints-xl: 1280px;
    --breakpoints-2xl: 1536px;
    --colors-primary-default: #1c3c5e;
    --colors-primary-dark: #0f2135;
    --colors-primary-darkest: #061323;
    --colors-secondary-default: #fdd92d;
    --colors-secondary-dark: #a98c00;
    --colors-text-default: #c3c7cc;
    --colors-text-dark: #97a0aa;
    --colors-text-darkest: #4b5968;
    --colors-text-disabled: #4b5968;
    --colors-input-focus: #fdd92d;
    --colors-input-filled: #c3c7cc;
    --colors-input-error: #fb4733;
    --colors-input-disabled: #4b5968;
    --colors-input-default: #97a0aa;
    --colors-feedback-error: #fa240c;
    --colors-feedback-warning: #b07f01;
    --colors-feedback-success: #297c02;
    --colors-feedback-success-light: #42ce00;
    --colors-feedback-info: #2f4964;
  }

  [data-color-mode="cassino"] {
    --colors-primary-default: #212933;
    --colors-primary-light: #344152;
    --colors-primary-dark: #2c3745;
    --colors-secondary-default: #1fc6ce;
    --colors-secondary-light: #5d7491;
    --colors-secondary-dark: #12474a;
    --colors-text-default: #fafafa;
    --colors-text-darkest: #626871;
    --colors-text-disabled: #626871;
    --colors-text-placeholder: #c0c0c0;
    --colors-input-focus: #fdd92d;
    --colors-input-filled: #c3c7cc;
    --colors-input-error: #fb4733;
    --colors-input-disabled: #4b5968;
    --colors-input-default: #97a0aa;
    --colors-feedback-error: #fb5946;
    --colors-feedback-warning: #f2821b;
    --colors-feedback-success: #297c02;
    --colors-feedback-success-light: #42ce00;
    --colors-feedback-info: #11c1e8;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

@layer recipes {
  @layer _base {
    .nebulosa-label {
      color: var(--colors-text-default);
    }

    .nebulosa-label:is(:hover, [data-hover]) {
      color: #ffffff;
    }
  }

  .nebulosa-label--size_Default {
    font-size: 1rem;
  }

  .nebulosa-label--size_Small {
    font-size: 0.875rem;
  }

  .nebulosa-label--size_XSmall {
    font-size: 0.75rem;
  }

  .nebulosa-label--size_Large {
    font-size: 1.25rem;
  }

  .nebulosa-label--size_XLarge {
    font-size: 1.5rem;
  }
}

@layer recipes.slots {
  @layer _base {
    .nebulosa-avatar__root {
      display: inline-flex;
      vertical-align: middle;
      overflow: hidden;
      -webkit-user-select: none;
      user-select: none;
      border-radius: 100%;
      align-items: center;
      justify-content: center;
      border-width: 0.125rem;
      border-color: #ffffff;
      border-style: solid;
    }

    .nebulosa-avatar__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }

    .nebulosa-avatar__fallback {
      width: 100%;
      height: 100%;
      display: flex;
      color: #ffffff;
      align-items: center;
      justify-content: center;
      font-size: 0.875rem;
      line-height: 100%;
      font-weight: 500;
    }

    .nebulosa-avatar__icon {
      margin-left: 0.25rem;
    }

    .nebulosa-button__root {
      position: relative;
      display: flex;
      gap: 0.5rem;
      padding: var(--spacing-nano) var(--spacing-xxs);
      border-radius: 0.5rem;
      cursor: pointer;
      align-items: center;
    }

    .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) {
      border: none !important;
      pointer-events: none;
      background-color: var(--colors-primary-dark) !important;
    }

    .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) span {
      color: var(--colors-primary-light) !important;
    }

    [data-color-mode="boomg"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) span {
      color: var(--colors-primary-light) !important;
    }

    [data-color-mode="cassino"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) span {
      color: var(--colors-primary-light) !important;
    }

    .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) svg {
      color: var(--colors-primary-light) !important;
    }

    [data-color-mode="boomg"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) svg {
      color: #090928 !important;
    }

    [data-color-mode="cassino"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) svg {
      color: var(--colors-primary-default) !important;
    }

    [data-color-mode="boomg"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) {
      background-color: var(--colors-primary-darkest) !important;
    }

    [data-color-mode="cassino"] .nebulosa-button__root:is(:disabled, [disabled], [data-disabled]) {
      background-color: var(--colors-primary-darkest) !important;
    }

    .nebulosa-button__buttonLabel {
      color: var(--colors-primary-darkest);
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
    }

    .nebulosa-button__iconSpinner {
      animation: rotate 0.8s linear infinite;
      width: 1rem;
      height: 1rem;
      color: #9ea2a4;
    }

    .nebulosa-checkbox__wrapper {
      display: inline-flex;
      gap: 0.5rem;
      color: var(--colors-text-default);
      align-items: center;
    }

    .nebulosa-checkbox__wrapper:is(:hover, [data-hover]) {
      color: #ffffff;
    }

    .nebulosa-checkbox__wrapper:is(:hover, [data-hover]) svg {
      color: var(--colors-secondary-dark);
    }

    .nebulosa-checkbox__wrapper:is(:hover, [data-hover]) .nebulosa-checkbox__root {
      outline-color: var(--colors-secondary-dark);
    }

    .nebulosa-checkbox__wrapper:is(:hover, [data-hover]) .nebulosa-checkbox__root[data-state="checked"] {
      outline-color: var(--colors-secondary-dark);
    }

    .nebulosa-checkbox__root {
      all: unset;
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      border-radius: 0.25rem;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      outline-width: var(--border-widths-thin);
      outline-color: var(--colors-text-default);
      outline-style: solid;
    }

    .nebulosa-checkbox__root[data-state="checked"] {
      outline-color: var(--colors-secondary-default);
    }

    .nebulosa-checkbox__icon {
      color: var(--colors-secondary-default);
    }

    .nebulosa-input__Root {
      width: 100%;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
    }

    .nebulosa-input__Label {
      color: var(--colors-text-default);
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 120%;
    }

    .nebulosa-input__Feedback {
      color: var(--colors-text-default);
      font-weight: 400;
      font-size: 0.75rem;
      line-height: 130%;
    }

    .nebulosa-input__Icon {
      color: var(--colors-text-dark);
    }

    .nebulosa-input__Input {
      width: 100%;
      border-radius: 0.5rem;
      display: flex;
      gap: 0.5rem;
      padding: 0.5rem 0.75rem;
      border-width: 0.0625rem;
      border-color: var(--colors-input-filled);
      border-style: solid;
      flex-direction: row;
    }

    .nebulosa-input__InputText {
      color: var(--colors-input-filled);
      outline: 2px solid transparent;
      outline-offset: 2px;
      flex: 1 1 0%;
      background-color: rgb(0 0 0 / 0);
    }

    .nebulosa-input__InputText::placeholder,
    .nebulosa-input__InputText[data-placeholder] {
      color: var(--colors-text-darkest);
    }

    .nebulosa-footer__container {
      gap: 3rem;
      padding: 1.5rem 1rem;
      flex-direction: column;
      align-items: center;
      background-color: var(--colors-primary-default);
    }

    .nebulosa-footer__container,
    .nebulosa-footer__linksContainer {
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    .nebulosa-footer__linksContainer {
      gap: 40px;
      flex-wrap: wrap;
    }

    .nebulosa-footer__linksColumn {
      display: flex;
      gap: 1rem;
      width: 150px;
      flex-direction: column;
      flex-wrap: wrap;
    }

    .nebulosa-footer__linkTitleLabel {
      color: #ffffff;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 700;
      line-height: 120%;
    }

    .nebulosa-footer__linkItemLabel {
      color: var(--colors-text-default);
      cursor: pointer;
      font-family: Inter;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 150%;
    }

    .nebulosa-footer__sponsorsContainer,
    .nebulosa-footer__sponsorsWrapper {
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
    }

    .nebulosa-footer__footerTitle {
      color: #ffffff;
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 700;
      line-height: 120%;
    }

    .nebulosa-footer__principalsSponsorsContainer {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .nebulosa-footer__awardsContainer {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    .nebulosa-footer__awardsLogosContainer {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nebulosa-footer__disclaimerContainer {
      text-align: center;
    }

    .nebulosa-footer__disclaimerBoldText {
      color: #ffffff;
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 700;
      line-height: 150%;
    }

    .nebulosa-footer__disclaimerBoldText::after {
      content: " ";
    }

    .nebulosa-footer__disclaimerText {
      color: #ffffff;
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
    }

    .nebulosa-footer__disclaimerText::after {
      content: " ";
    }

    .nebulosa-footer__disclaimerHighlightedText {
      color: var(--colors-secondary-default);
      text-align: center;
      font-family: Inter;
      font-size: 1rem;
      font-weight: 400;
      line-height: 150%;
    }

    .nebulosa-footer__descriptionWrapper {
      display: flex;
      gap: 1.5rem;
      flex-direction: column;
    }

    .nebulosa-footer__descriptionLabel {
      color: var(--colors-text-default);
      text-align: center;
      font-family: Inter;
      font-size: 0.75rem !important;
      font-weight: 400;
      line-height: 150%;
    }

    .nebulosa-footer__logoAndSocialsWrapper,
    .nebulosa-footer__desktopRow,
    .nebulosa-footer__lineSeparator {
      display: none;
    }

    .nebulosa-footer__certifiedContainer {
      display: flex;
      width: 100%;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .nebulosa-footer__desktopDescriptionWrapper,
    .nebulosa-footer__descriptionLogo {
      display: none;
    }

    .nebulosa-footer__descriptionLogo img {
      width: 100%;
      height: 100%;
    }

    .nebulosa-footer__onlyMobile {
      display: block;
    }

    .nebulosa-header__container {
      position: fixed;
      width: 100%;
      z-index: 1000;
      display: flex;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
      padding: 0.5rem 1rem;
      height: 2.5rem;
      top: 0;
      left: 0;
      align-content: center;
      justify-content: space-between;
      background-color: var(--colors-primary-default);
    }

    .nebulosa-header__sideWrapper {
      display: flex;
      alig-items: center;
      height: 100%;
    }

    .nebulosa-header__logoWrapper {
      display: flex;
      width: 106px;
      cursor: pointer;
      align-content: center;
      flex-wrap: wrap;
      justify-content: center;
    }

    .nebulosa-header__logoWrapper svg {
      width: 100%;
      height: 100%;
    }

    .nebulosa-header__leftMenuWrapper,
    .nebulosa-header__rightMenuWrapper {
      display: none;
    }

    .nebulosa-header__rightMenuWrapper svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .nebulosa-header__label {
      font-weight: 400;
    }

    .nebulosa-header__label,
    .nebulosa-header__boldLabel {
      color: #ffffff;
      cursor: pointer;
      font-family: Inter;
      font-size: 0.875rem !important;
    }

    .nebulosa-header__boldLabel {
      font-weight: 700;
    }

    .nebulosa-header__selectedLabel {
      color: var(--colors-secondary-default);
      text-decoration: underline;
      text-underline-offset: 0.375rem;
      text-decoration-thickness: 0.125rem;
      cursor: pointer;
      font-family: Inter;
      font-size: 0.875rem !important;
      font-weight: 500;
    }

    .nebulosa-header__moreLinksWrapper {
      display: flex;
      color: #ffffff;
      align-items: center;
    }

    .nebulosa-header__userIconWrapper {
      display: flex;
      height: 2.25rem;
      width: 2.25rem;
      cursor: pointer;
      color: #ffffff;
      flex-direction: row;
      justify-content: center;
    }

    .nebulosa-header__userIconWrapper svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .nebulosa-header__buttonContainer {
      display: flex;
      height: 40px;
      padding: 0.25rem 0.75rem;
      cursor: pointer;
      gap: 0.375rem;
      justify-content: center;
      align-items: center;
    }

    .nebulosa-header__buttonContainer button {
      height: 42px;
    }

    .nebulosa-header__moreLinksIcon {
      display: flex;
      width: 1rem;
      height: 1rem;
      align-items: center;
      padding-left: 0.125rem;
    }

    .nebulosa-header__loggedUserIcon {
      display: flex;
      align-items: center;
      padding-left: 0.5rem;
    }

    .nebulosa-header__closeIcon {
      width: 1.625rem;
      height: 1.625rem;
      color: #ffffff;
    }

    .nebulosa-header__menuIconWrapper {
      display: flex;
      height: 2.25rem;
      width: 2.25rem;
      cursor: pointer;
      color: #ffffff;
      flex-direction: row;
      justify-content: center;
      margin-right: 0.75rem;
    }

    .nebulosa-header__menuIconWrapper svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .nebulosa-header__findIconWrapper {
      display: flex;
      height: 2.25rem;
      width: 2.25rem;
      cursor: pointer;
      color: #ffffff;
      flex-direction: row;
      justify-content: center;
    }

    .nebulosa-header__findIconWrapper svg {
      height: 1.5rem;
      width: 1.5rem;
    }

    .nebulosa-header__loggedUserIconDesktop {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .nebulosa-radio__root {
      all: unset;
      color: var(--colors-text-default);
      width: 32px;
      height: 32px;
      position: relative;
    }

    .nebulosa-radio__itemWrapper {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    .nebulosa-radio__itemWrapper:is(:hover, [data-hover]) .nebulosa-radio__item,
    .nebulosa-radio__itemWrapper:is(:hover, [data-hover]) .nebulosa-radio__indicator {
      color: var(--colors-secondary-dark);
    }

    .nebulosa-radio__item {
      display: flex;
      gap: 1rem;
      position: relative;
    }

    .nebulosa-radio__item[data-orientation="vertical"] {
      flex-direction: column;
      align-items: flex-start;
    }

    .nebulosa-radio__item[data-orientation="horizontal"] {
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
    }

    .nebulosa-radio__indicator {
      position: absolute;
      transform: translate(-50%, -50%);
      color: var(--colors-secondary-default);
      top: 50%;
      left: 50%;
    }

    .nebulosa-scroll__ScrollBar {
      border-radius: 0.5rem;
      overflow-y: scroll;
      margin-right: 0.1875rem;
      margin-top: 0.375rem;
      margin-bottom: 0.375rem;
    }

    .nebulosa-scroll__ScrollBar::-webkit-scrollbar {
      width: 0.375rem;
    }

    .nebulosa-scroll__ScrollBar::-webkit-scrollbar-thumb {
      background: var(--colors-primary-darkest);
      border-radius: 0.5rem;
    }

    .nebulosa-scroll__ScrollBar::-webkit-scrollbar-track {
      background: var(--colors-primary-default);
      border: 1px solid var(--colors-primary-darkest);
      margin: 0.125rem;
      border-radius: 0.5rem;
    }

    .nebulosa-select__Trigger {
      border-radius: 0.5rem;
      border: 1px solid var(--colors-text-default);
    }

    .nebulosa-select__Trigger,
    .nebulosa-select__TriggerFocused {
      display: flex;
      height: 2.5rem;
      min-width: 319px;
      padding: 0.5rem 0.75rem;
      gap: 0.5rem;
      outline: 2px solid transparent;
      outline-offset: 2px;
      color: var(--colors-text-darkest);
      justify-content: space-between;
    }

    .nebulosa-select__TriggerFocused {
      border-radius: 0.5rem;
      border: 1px solid var(--colors-input-focus);
      align-self: stretch;
    }

    .nebulosa-select__TriggerError {
      display: flex;
      height: 2.5rem;
      min-width: 319px;
      padding: 0.5rem 0.75rem;
      gap: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--colors-feedback-error);
      color: var(--colors-feedback-error);
      outline: 2px solid transparent;
      outline-offset: 2px;
      justify-content: space-between;
      align-self: stretch;
    }

    .nebulosa-select__Icon {
      color: var(--colors-text-dark);
    }

    .nebulosa-select__IconFocused {
      color: var(--colors-input-focus);
    }

    .nebulosa-select__IconError {
      color: var(--colors-feedback-error);
    }

    .nebulosa-select__ValueSelected {
      color: var(--colors-text-default);
    }

    .nebulosa-select__ValueNotSelected {
      color: inherit;
    }

    .nebulosa-select__Content {
      color: var(--colors-text-default);
      border-radius: 0.5rem;
      height: auto;
      max-height: 200px;
      background-color: var(--colors-primary-default);
    }

    .nebulosa-select__Item {
      display: flex;
      height: 2.5rem;
      min-width: 309px;
      padding: 0.5rem 0.75rem;
      gap: 0.75rem;
      align-items: center;
      align-self: stretch;
    }

    .nebulosa-select__Item:is(:disabled, [disabled], [data-disabled]) {
      color: #0f2135;
    }

    .nebulosa-select__Item:is(:focus-visible, [data-focus-visible]) {
      outline: 2px solid transparent;
      outline-offset: 2px;
      background: #0f2135;
    }

    .nebulosa-select__Item:is(:hover, [data-hover]) {
      background: var(--colors-primary-dark);
    }

    .nebulosa-select__ScrollBar {
      background: var(--colors-primary-default);
      border-radius: 0.5rem;
      border-right: 0.1875rem solid var(--colors-primary-default);
      border-top: 0.375rem solid var(--colors-primary-default);
      border-bottom: 0.375rem solid var(--colors-primary-default);
      overflow-y: scroll;
    }

    .nebulosa-select__ScrollBar::-webkit-scrollbar {
      width: 0.375rem;
    }

    .nebulosa-select__ScrollBar::-webkit-scrollbar-thumb {
      background: #061323;
      border-radius: 0.5rem;
    }

    .nebulosa-select__ScrollBar::-webkit-scrollbar-track {
      background: #1c3c5e;
      border: 1px solid #061323;
      margin: 0.125rem;
      border-radius: 0.5rem;
    }

    .nebulosa-select__ErrorMessage {
      color: var(--colors-feedback-error);
      font-family: var(--font-inter), sans-serif;
      font-size: 0.75rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      margin-top: 0.5rem;
    }

    .nebulosa-tooltip__content {
      color: #ffffff;
      border-radius: 0.5rem;
      dropshadow: 1 0 28 0 #000000 20%;
      padding: var(--spacing-xxxs) var(--spacing-xxs);
      background-color: #303030;
    }

    .nebulosa-tooltip__arrow {
      fill: #303030;
    }

    @media (min-width: 1024px) {
      .nebulosa-footer__container {
        padding: 3.5rem;
      }

      .nebulosa-footer__linksContainer {
        display: none;
      }

      .nebulosa-footer__linksColumn {
        width: auto;
      }

      .nebulosa-footer__sponsorsContainer {
        display: none;
      }

      .nebulosa-footer__sponsorsWrapper {
        flex-direction: row;
      }

      .nebulosa-footer__principalsSponsorsContainer {
        max-width: 500px;
      }

      .nebulosa-footer__descriptionWrapper {
        display: none;
      }

      .nebulosa-footer__logoAndSocialsWrapper {
        display: flex;
        gap: 1.625rem;
        flex-direction: column;
      }

      .nebulosa-footer__desktopRow {
        display: flex;
        width: 100%;
        gap: 1.625rem;
        justify-content: space-between;
      }

      .nebulosa-footer__lineSeparator {
        display: flex;
        width: 100%;
        height: 1px;
        min-height: 1px;
        background-color: var(--colors-text-default);
      }

      .nebulosa-footer__certifiedContainer {
        display: none;
      }

      .nebulosa-footer__desktopDescriptionWrapper {
        display: flex;
        gap: 1.25rem;
        flex-direction: column;
      }

      .nebulosa-footer__descriptionLogo {
        display: block;
        width: 200px;
        height: 200px;
      }

      .nebulosa-footer__onlyMobile {
        display: none;
      }

      .nebulosa-header__logoWrapper {
        width: 142px;
        padding-left: 1.5rem;
      }

      .nebulosa-header__leftMenuWrapper {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        padding-left: 2rem;
      }

      .nebulosa-header__rightMenuWrapper {
        display: flex;
        color: #ffffff;
        align-items: center;
      }

      .nebulosa-header__userIconWrapper,
      .nebulosa-header__loggedUserIcon,
      .nebulosa-header__closeIcon,
      .nebulosa-header__menuIconWrapper {
        display: none;
      }

      .nebulosa-header__findIconWrapper {
        flex-wrap: wrap;
        align-content: center;
      }
    }

    @media screen and (min-width: 64rem) {
      .nebulosa-header__container {
        height: 4rem;
      }
    }

    @media (min-width: 1440px) {
      .nebulosa-header__logoWrapper {
        width: 177px;
        padding-left: 2.5rem;
      }

      .nebulosa-header__leftMenuWrapper {
        gap: 2rem;
        padding-left: 3.5rem;
      }

      .nebulosa-header__label,
      .nebulosa-header__boldLabel,
      .nebulosa-header__selectedLabel {
        font-size: 1rem !important;
      }
    }
  }

  .nebulosa-avatar__root--size_Small {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nebulosa-avatar__fallback--size_Small {
    font-size: 0.75rem;
  }

  .nebulosa-avatar__root--size_Medium {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nebulosa-avatar__fallback--size_Medium {
    font-size: 1rem;
  }

  .nebulosa-avatar__root--size_Large {
    width: 3.5rem;
    height: 3.5rem;
  }

  .nebulosa-avatar__fallback--size_Large {
    font-size: 1.25rem;
  }

  .nebulosa-button__icon--size_Default {
    width: 1rem;
    height: 1rem;
  }

  .nebulosa-button__buttonLabel--size_Default {
    font-size: 1rem;
  }

  .nebulosa-button__iconSpinner--size_Default {
    width: 1rem;
    height: 1rem;
  }

  .nebulosa-button__root--variant_primary {
    background-color: var(--colors-secondary-default);
  }

  [data-color-mode="boomg"] .nebulosa-button__root--variant_primary {
    color: var(--colors-secondary-default);
    background-color: var(--colors-primary-default);
  }

  [data-color-mode="cassino"] .nebulosa-button__root--variant_primary {
    color: var(--colors-primary-default);
  }

  .nebulosa-button__root--variant_primary:is(:hover, [data-hover]) {
    background-color: var(--colors-secondary-dark);
  }

  [data-color-mode="boomg"] .nebulosa-button__root--variant_primary:is(:hover, [data-hover]) {
    background-color: var(--colors-primary-dark);
  }

  [data-color-mode="cassino"] .nebulosa-button__root--variant_primary:is(:hover, [data-hover]) {
    background-color: var(--colors-secondary-light);
  }

  [data-color-mode="boomg"] .nebulosa-button__icon--variant_primary {
    color: var(--colors-secondary-default);
  }

  [data-color-mode="cassino"] .nebulosa-button__icon--variant_primary {
    color: var(--colors-primary-default);
  }

  [data-color-mode="boomg"] .nebulosa-button__buttonLabel--variant_primary {
    color: var(--colors-secondary-default);
  }

  [data-color-mode="cassino"] .nebulosa-button__buttonLabel--variant_primary {
    color: var(--colors-primary-default);
  }

  .nebulosa-button__iconSpinner--loading_false {
    display: none !important;
  }

  .nebulosa-checkbox__root--disabled_true {
    pointer-events: none;
    outline-color: var(--colors-primary-dark);
  }

  .nebulosa-checkbox__root--disabled_true[data-state="checked"] {
    color: var(--colors-primary-darkest);
    outline-color: var(--colors-primary-dark);
  }

  .nebulosa-checkbox__label--disabled_true {
    pointer-events: none;
    color: var(--colors-primary-dark);
  }

  .nebulosa-checkbox__label--disabled_true:is(:hover, [data-hover]) {
    color: inherit;
  }

  .nebulosa-checkbox__icon--disabled_true {
    color: var(--colors-primary-dark);
  }

  .nebulosa-input__Feedback--error_true,
  .nebulosa-input__Icon--error_true,
  .nebulosa-input__Input--error_true {
    color: var(--colors-input-error);
  }

  .nebulosa-input__Input--error_true {
    border-color: var(--colors-input-error);
  }

  .nebulosa-input__InputText--error_true {
    color: var(--colors-input-error);
  }

  .nebulosa-input__InputText--error_true::placeholder,
  .nebulosa-input__InputText--error_true[data-placeholder] {
    color: var(--colors-input-error);
  }

  .nebulosa-input__Label--disabled_true,
  .nebulosa-input__Icon--disabled_true,
  .nebulosa-input__Input--disabled_true {
    color: var(--colors-input-disabled);
  }

  .nebulosa-input__Input--disabled_true {
    border-color: var(--colors-input-disabled);
  }

  .nebulosa-input__InputText--disabled_true {
    color: var(--colors-input-disabled);
    pointer-events: none;
  }

  .nebulosa-input__Icon--focus_true,
  .nebulosa-input__Input--focus_true {
    color: var(--colors-input-focus);
  }

  .nebulosa-input__Input--focus_true {
    border-color: var(--colors-input-focus);
  }

  .nebulosa-input__Feedback--filled_true,
  .nebulosa-input__Icon--filled_true,
  .nebulosa-input__Input--filled_true {
    color: var(--colors-input-filled);
  }

  .nebulosa-input__Input--filled_true {
    border-color: var(--colors-input-filled);
  }

  .nebulosa-icon__root--size_Small {
    width: 1.25rem;
    height: 1.25rem;
  }

  .nebulosa-icon__root--size_Default,
  .nebulosa-icon__root--size_Medium {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nebulosa-icon__root--size_Large {
    width: 2rem;
    height: 2rem;
  }

  .nebulosa-icon__root--size_XLarge {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nebulosa-icon__root--size_XSmall {
    width: 1rem;
    height: 1rem;
  }

  .nebulosa-radio__root--disabled_true {
    color: var(--colors-primary-dark);
  }

  .nebulosa-radio__itemWrapper--disabled_true {
    pointer-events: none;
  }

  .nebulosa-radio__item--disabled_true,
  .nebulosa-radio__indicator--disabled_true,
  .nebulosa-radio__label--disabled_true {
    color: var(--colors-primary-dark);
  }

  .nebulosa-radio__item--size_Small {
    width: 1.25rem;
    height: 1.25rem;
  }

  .nebulosa-radio__item--size_Default {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nebulosa-radio__item--size_Large {
    width: 2rem;
    height: 2rem;
  }

  .nebulosa-radio__item--size_XLarge {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nebulosa-radio__item--size_XSmall {
    width: 1rem;
    height: 1rem;
  }
}

@layer utilities {
  .c_\#fff {
    color: #fff;
  }

  .pos_popper {
    position: popper;
  }

  .w_8 {
    width: 8px;
  }

  .c_text\.default {
    color: var(--colors-text-default);
  }

  .c_neutral\.white {
    color: var(--colors-neutral-white);
  }

  .p_lg {
    padding: var(--spacing-lg);
  }

  .p_md {
    padding: var(--spacing-md);
  }

  .h_screen {
    height: 100vh;
  }

  .d_flex {
    display: flex;
  }

  .pos_relative {
    position: relative;
  }

  .max-w_8xl {
    max-width: 8xl;
  }

  .mx_auto {
    margin-inline: auto;
  }

  .px_4 {
    padding-inline: 4px;
  }

  .w_screen {
    width: 100vw;
  }

  .p_xs {
    padding: var(--spacing-xs);
  }

  .max-w_\[443px\] {
    max-width: 443px;
  }

  .gap_md {
    gap: var(--spacing-md);
  }

  .ta_center {
    text-align: center;
  }

  .c_primary\.dark {
    color: var(--colors-primary-dark);
  }

  .d_none {
    display: none;
  }

  .fs_xxxl {
    font-size: var(--font-sizes-xxxl);
  }

  .bg-c_primary\.dark {
    background-color: var(--colors-primary-dark);
  }

  .pt_\[40px\] {
    padding-top: 40px;
  }

  .flex-d_column {
    flex-direction: column;
  }

  .jc_space-between {
    justify-content: space-between;
  }

  .bg-i_url\(\'\/images\/404-banner\/desktop\.svg\'\) {
    background-image: url("/images/404-banner/desktop.svg");
  }

  .jc_center {
    justify-content: center;
  }

  .ai_center {
    align-items: center;
  }

  .bg-c_primary\.darkest {
    background-color: var(--colors-primary-darkest);
  }

  .fw_regular {
    font-weight: var(--font-weights-regular);
  }

  .fs_md {
    font-size: var(--font-sizes-md);
  }

  .fs_xxs {
    font-size: var(--font-sizes-xxs);
  }

  .fw_bold,
  .\[\&_strong\]\:fw_bold strong {
    font-weight: var(--font-weights-bold);
  }

  @media screen and (min-width: 48rem) {
    .md\:px_6 {
      padding-inline: 6px;
    }
  }

  @media (min-width: 1024px) {
    .desktop\:pt_\[64px\] {
      padding-top: 64px;
    }
  }

  @media screen and (min-width: 64rem) {
    .lg\:px_8 {
      padding-inline: 8px;
    }

    .lg\:d_flex {
      display: flex;
    }

    .lg\:d_none {
      display: none;
    }
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.5_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[2].use[1]!./node_modules/.pnpm/next@14.2.5_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[2].use[2]!./node_modules/.pnpm/next@14.2.5_@babel+core@7.25.2_react-dom@18.3.1_react@18.3.1__react@18.3.1/node_modules/next/font/google/target.css?{"path":"src/app/layout.tsx","import":"Inter","arguments":[{"subsets":["latin"]}],"variableName":"inter"} ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* cyrillic-ext */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/55c55f0601d81cf3-s.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/26a46d62cd723877-s.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/97e0cb1ae144a2a9-s.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/581909926a08bbc8-s.woff2) format("woff2");
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1,
    U+03A3-03FF;
}

/* vietnamese */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/df0a9ae256c0569c-s.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/6d93bde91c0c2823-s.woff2) format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "__Inter_36bd41";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/_next/static/media/a34f9d1faa5f3315-s.p.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "__Inter_Fallback_36bd41";
  src: local("Arial");
  ascent-override: 90.49%;
  descent-override: 22.56%;
  line-gap-override: 0%;
  size-adjust: 107.06%;
}

.__className_36bd41 {
  font-family: "__Inter_36bd41", "__Inter_Fallback_36bd41";
  font-style: normal;
}